<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zuul-api-gateway/src/main/java/com/damo/zuulapigateway/ZuulApiGatewayApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.damo.zuulapigateway.ZuulApiGatewayApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zuul-api-gateway"/>
</launchConfiguration>
